<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ../partials/header %>
        <link rel="stylesheet" type="text/css" href="../public/css/storefront.css">
        <link rel="stylesheet" href="css/styles.css?v=1.0">
        <title>Serinde</title>

</head>

<body>

    <% include ../partials/nav %>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-3 column-1">
                    <!-- Category should be listed here -->

                    <div class="vertical-menu left-menu">

                        <ul>
                            <li><a class="active" href="/">Categories</a></li>
                            <li><a href="/?cat_id=Fashion-Men">Fashion-Men</a></li>
                            <li><a href="/?cat_id=Fashion-Women">Fashion-Women</a></li>
                            <li><a href="/?cat_id=Fashion-Children">Fashion-Children</a></li>
                            <li><a href="/?cat_id=Beauty-SkinCare">Beauty-SkinCare</a></li>
                            <li><a href="/?cat_id=Beauty-HairCare">Beauty-HairCare</a></li>
                            <li><a href="/?cat_id=Beauty-Cosmetics">Beauty-Cosmetics</a></li>
                            <li><a href="/?cat_id=Electronics-Computers and Tablets">Electronics-Computers and Tablets</a></li>
                            <li><a href="/?cat_id=Electronics-TV and Audio">Electronics-TV and Audio</a></li>
                            <li><a href="/?cat_id=Cell Phones and Accessories">Cell Phones and Accessories</a></li>
                        </ul>

                    </div>
                </div>
                <!-- END col-3 column END -->

                <div class="col-9" style="border: 1px solid brown ;">
                    <div class="column-2">
                        <% for(let i = 0; i < uniqueCategories.length; i++) { %>
                            <div class="row">
                                <h3>
                                    <%= uniqueCategories[i] %>
                                </h3>
                                <hr>
                                <!-- slidable row of random 10 items of this category loaded into 10 cards -->
                                <div class="row-config">
                                    <% products.forEach(product => { %>
                                        <% if (product.data().ProductCategory === uniqueCategories[i]) { %>
                                            <div class="oneCard each-card">
                                                <div class="card" style="width: 18rem;">
                                                    <img class="img-config" class="card_row" class="card-img-top" src="<%= product.data().ProductUrl %>" alt="Missing Image">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <a href="/productdetail?_id=<%= product.id %>" class="card-link" role="button">
                                                                <%= product.data().ProductTitle %>
                                                            </a>
                                                        </h5>
                                                        <h6>
                                                            Price: <%= product.data().ProductPrice %>
                                                        </h6>
                                                        <p class="card-text desc-limit">
                                                            <%= product.data().ProductDescription %>
                                                        </p>

                                                        <form action='/add2cart' method="POST">
                                                            <input type="hidden" name="id" value="<%= product.id %>">
                                                            <input type="hidden" name="title" value="<%= product.data().ProductTitle %>">
                                                            <input type="hidden" name="price" value="<%= product.data().ProductPrice %>">
                                                            <input type="hidden" name="image" value="<%= product.data().ProductImage %>">
                                                            <input type="hidden" name="imageurl" value="<%= product.data().ProductUrl %>">
                                                            <a href="#" onclick="this.parentNode.submit()" class="btn btn-outline-primary">Add To Cart</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% }) %>
                                </div>
                            </div>
                            <%   } %>
                    </div>
                </div>
            </div>
        </div>

        <%- include ../partials/scripts %>


            <!-- CONTACT US -->

            <footer class="border-top footer text-muted">
                <div class="container">
                    <!-- Contact Us-->

                    <div class="nav-item <%= nav == 'contact' ? 'active' : ''%>">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </div>
                    &copy; 2019 - Serinde
                </div>
            </footer>
</body>

</html>